/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.fl-slide-0 .fl-slide-foreground {
  width:  100%!important;
}
.home-slider .fl-slide-2 .fl-slide-foreground {
    max-width: 100% !important;
	margin-top: -20px;
}
.display_none{display:none;}
.fl-slide-3 .fl-slide-content{
	margin: 0px !important;
	margin-top: -20px !important;
}
.fl-slide-1 .fl-slide-photo {
	margin-top: 150px !important;
}
.page-id-1169 .uabb-photo-gallery-item img {
    min-height: 320px !important;
}
/* .page-id-1060935  p{
	margin-bottom: 20px !important;
} */

.fa.fa-clock-o {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 400 !important;
}

div.product-grid .product-row .fl-post-grid-post .fl-post-grid-image>a>img {
    min-height: 230px !important;
}

.footer-location .location-1-phone-no~ul {
    margin-top: -10px !important;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none
}

.sub-menu .uabb-has-submenu-container .uabb-menu-toggle {
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg)
}

.facetwp-template .btn-grey a.getcoupon-btn .fl-button-text {
    color: #fff
}

.button-wrapper a.button.alt,
.button-wrapper a.button:hover,
.product-detail-layout-default .button-wrapper-default a:hover {
    background: #f46600;
    border: 2px solid #f46600
}

#menu-flooring-menu li a span:hover {
    color: #f46600
}

.uabb-slide-box-wrap.set-z-index .open-slidedown .uabb-slide-down {
    position: static
}

.f-14 {
    font-size: 14px!important
}

.fl-page-phone-no-wrap {
    text-align: center
}

.fl-page-header-fixed ul#menu-topleft .storename .phone a *,
.fl-page-nav-right.fl-page-header-fixed ul#menu-topleft .storename .phone a *,
ul#menu-topleft-1 .storename .phone a {
    color: #fff!important;
    font-size: 14px!important
}

.fl-page-phone-no-wrap .fl-page-phone-no .storename li .phone a:before,
.page-head-bar .storename li .phone a:nth-child(2):before {
    content: "\f095"!important;
    color: #fff;
    font: normal normal normal 18px/1 FontAwesome;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-right: 10px!important;
    vertical-align: middle;
    font-size: 16px
}

.fl-page-phone-no-wrap .fl-page-phone-no .storename li .phone a:before {
    color: #000
}

ul#menu-topleft-1 li#menu-item-402020>a {
    display: none
}

.page-head-bar ul#menu-topleft li.menu-item-type-post_type.menu-item-object-page a:before {
    content: "\f041"!important;
    color: #fff;
    font: normal normal normal 18px/1 FontAwesome;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-right: 10px!important;
    vertical-align: bottom;
    font-size: 15px
}

#gform_wrapper_16 input:active,
#gform_wrapper_16 input:focus,
#gform_wrapper_16 input:focus-within,
#gform_wrapper_16 textarea:active,
#gform_wrapper_16 textarea:focus,
#gform_wrapper_16 textarea:focus-within #gform_wrapper_16 input:visited,
#gform_wrapper_16 textarea:visited {
    background: #f46600!important;
    color: #e8f0fe
}

#gform_wrapper_16 input {
    color: #e8f0fe!important
}

#gform_wrapper_16 input.gform_button:hover {
    color: #f46600!important
}

#gform_wrapper_16 input.gform_button:focus {
    color: #fff!important
}

.ginput_container {
    font-size: 18px;
    font-weight: 400px
}

.location-page .uabb-subheading {
    display: flex;
    align-items: center;
    justify-content: center
}

.staticContent .phone-no {
    display: flex;
}

.staticContent .phone-no span {
    margin-right: 5px;
}

ul#menu-topleft .phone a {
    color: #fff;
    font-size: 14px
}

ul#menu-topleft li {
    margin-right: 10px
}

ul#menu-topleft li a {
    padding-top: 0;
    padding-bottom: 0
}

.main-header .fl-col-group {
    display: flex;
    align-items: center
}

.ua-icon-search {
    cursor: pointer
}

.fl-page-header-fixed a .fl-logo-img,
.fl-page-nav-right.fl-page-header-fixed .fl-logo-img {
    max-height: 75px!important
}

.gform_wrapper .clear-multi .gfield_time_ampm,
.gform_wrapper .clear-multi .gfield_time_hour,
.gform_wrapper .clear-multi .gfield_time_minute {
    max-width: 70px!important
}

.googlekeyword {
    text-transform: capitalize
}

.gform_wrapper .clear-multi .gfield_time_ampm select,
.gform_wrapper .clear-multi .gfield_time_hour input,
.gform_wrapper .clear-multi .gfield_time_minute input {
    padding: 0!important;
    width: calc(4rem + 8px)!important;
    text-align: center
}

.gform_wrapper .clear-multi .gfield_time_ampm select:focus,
.gform_wrapper .clear-multi .gfield_time_hour input:focus,
.gform_wrapper .clear-multi .gfield_time_minute input:focus {
    text-align: center
}

.gform_wrapper .gfield_time_hour i {
    margin-top: -2%!important;
    margin-right: 8px!important;
    color: #f46600
}

#field_18_2,
#field_18_7 {
    padding-right: 0
}

#field_18_7 .ginput_container input {
    width: 100%
}

.gform_wrapper .clear-multi .gfield_time_hour label,
.gform_wrapper .clear-multi .gfield_time_minute label {
    color: #fff
}

.gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    margin: 1px 0 9px 6px!important
}

.home-slider .fl-slide-1 {
    top: -20px
}

.sticky-nav-search {
    position: relative
}

.sticky-nav-search .fl-page-nav-search {
    position: static
}

.sticky-nav-search .fl-page-nav-search .fas.fa-search {
    padding: 0
}

.fl-module-uabb-advanced-menu .uabb-creative-menu .menu>li {
    margin: 0
}

.fl-page-header-fixed .container {
    max-width: 1300px;
    width: 100%
}

.fl-page-header-fixed .fl-page-header-row {
    display: flex;
    align-items: center
}

.sticky-nav-search .fa-search:before {
    content: "\e96f";
    font-family: Ultimate-Icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 20px
}

.mfp-wrap .mfp-close,
.mfp-wrap .mfp-close:active,
.mfp-wrap .mfp-close:focus,
.mfp-wrap .mfp-close:hover {
    color: #fff
}

.featured-products .featured-product-list .featured-product-item .prod-img-wrap:hover .button-wrapper .button.fea-coupon_btn,
a.finance-btn {
    display: none!important
}

.gform_wrapper .ginput_container_select select option {
    color: #000!important
}

.pro-details .button-wrapper a:first-child {
    display: none!important
}

.style-product_list .pro-container .pro-details .button-wrapper a.button {
    margin: 0 20px;
    min-width: auto!important
}

.style-product_list .pro-container .pro-details .button-wrapper a.button:hover {
    background: #f46600;
    border-color: #f46600
}

.fl-module-dual-color-heading .uabb-first-heading-text {
    display: flex;
    font-size: 20px
}

.fl-module-dual-color-heading .uabb-first-heading-text .storename a span {
    color: #fff
}

.fl-builder-shortcode-mask-wrap .uabb-photo-content {
    max-height: 120px
}

.fl-builder-shortcode-mask-wrap .uabb-photo p {
    margin: 0
}

.fl-builder-shortcode-mask-wrap .uabb-creative-menu>p {
    margin: 0
}

.fl-builder-shortcode-mask-wrap ul#menu-copyright-bar-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0
}

.fl-builder-shortcode-mask-wrap ul#menu-copyright-bar-menu li {
    font-size: 14px;
    margin: 0 10px;
    list-style: none
}

.fl-builder-shortcode-mask-wrap ul#menu-copyright-bar-menu li a span {
    color: #000
}

.fl-builder-shortcode-mask-wrap ul#menu-copyright-bar-menu li a span:hover {
    color: #f46600
}

.landing-page-footer>.fl-col-content.fl-node-content>.fl-module-rich-text>.fl-module-content>.fl-rich-text>p {
    display: none
}

body #gform_wrapper_25.gform_wrapper ul li.gfield {
    margin-top: 5px
}

.landing-page-footer .ui-sortable:nth-child(5) .fl-rich-text>p:nth-child(1) {
    display: none
}

ul#menu-about-us li a {
    display: inline-block
}

.header-schedule-now-btn .uabb-marketing-button-wrap .uabb-marketing-btn__link,
.header-schedule-now-btn .uabb-marketing-button-wrap .uabb-marketing-btn__link:visited {
    padding: 0 20px
}

.header-schedule-now-btn .uabb-marketing-button-wrap .uabb-marketing-btn__link:hover {
    background: #f79400;
    border-color: #f79400
}

.page-head-bar .fl-row-fixed-width .fl-col-group {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.fl-page-nav-right .fl-page-header-wrap {
    width: 100%;
    padding-right: 120px
}

.fl-page-nav-right .fl-page-header-wrap a.header-btn {
    padding: 10px 20px;
    background: #f46600;
    border: 1px solid #f46600;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 18px
}

.fl-page-nav-right .fl-page-header-wrap a.header-btn span {
    display: block;
    color: #fff
}

.fl-page-nav-right .fl-page-header-wrap a.header-btn span.small-text {
    font-size: 75%;
    letter-spacing: 1px
}

@media(min-width:1281px) {
    .fl-page-header-fixed .uabb-marketing-button-wrap.uabb-marketing-button-center {
        text-align: right!important;
        margin-right: 25px!important
    }
    .fl-page-header-fixed .fl-module-uabb-advanced-menu .uabb-creative-menu .menu#menu-topleft {
        text-align: left;
        padding: 0 0 0 35px
    }
}

@media (min-width:1025px) {
    .fl-page-header-fixed .fl-page-btn-wrap,
    .fl-page-header-fixed .fl-page-phone-no-wrap {
        display: none!important
    }
    .fl-page-header-fixed .fl-page-logo-wrap {
        width: 10%
    }
    .fl-page-header-fixed .fl-page-fixed-nav-wrap {
        width: 85%;
        text-align: right
    }
    .fl-page-header-fixed .sticky-nav-search {
        width: 5%;
        padding: 0
    }
    .fl-page-nav-right .fl-page-header-row div.fl-page-logo-wrap {
        padding-left: 20px
    }
    .fl-page-nav-right .fl-page-header-wrap {
        padding-right: 0
    }
    .fl-slide-0 .fl-slide-photo-wrap .fl-slide-photo img {
        height: 440px;
    }
}

@media(max-width:1300px) {
    .fl-page-header-fixed a .fl-logo-img,
    .fl-page-nav-right.fl-page-header-fixed .fl-logo-img {
        max-height: 90px!important
    }
}

@media(min-width:1100px) {
    .fl-page-header-fixed .container {
        padding: 10px 15px
    }
}

@media(min-width:992px) and (max-width:1100px) {
    .style-product_list .pro-container>.row>.col-md-7 {
        flex: 0 0 57.33333%;
        width: 57.33333%
    }
    .style-product_list .pro-container>.row>.col-md-5 {
        flex: 0 0 41.6666%;
        width: 41.6666%
    }
    .style-product_list .pro-container .pro-details .button-wrapper a.button {
        min-width: auto;
        width: auto
    }
    .style-product_list .pro-container .pro-details .button-wrapper a.button {
        padding: 10px
    }
}

@media(max-width:1024px) {
    .fl-page-header-fixed .fl-page-header-row .fl-page-fixed-nav-wrap,
    .mobile-hide-menu,
    .sticky-nav-search {
        display: none!important
    }
    header .fl-module-uabb-photo .uabb-photo-content .uabb-photo-img {
        visibility: hidden
    }
    .main-header {
        max-height: 107px
    }
    button#responsive-menu-button {
        top: 30px!important
    }
    button#responsive-menu-button.is-active {
        position: fixed!important
    }
    .fl-page-header-fixed,
    .fl-page-nav-right.fl-page-header-fixed {
        display: flex!important;
        align-items: center;
        justify-content: space-between
    }
    header#masthead {
        visibility: hidden;
        height: 107px
    }
    .product-box h1 {
        font-size: 24px!important
    }
    #responsive-menu-additional-content .storename li .phone a:before {
        content: "\f095"!important;
        font: normal normal normal 18px/1 FontAwesome;
        font-weight: 900;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-right: 10px!important;
        vertical-align: middle
    }
    #responsive-menu-container #responsive-menu-additional-content,
    #responsive-menu-container #responsive-menu-search-box {
        padding: 10px 5%!important
    }
}

@media(min-width:992px) and (max-width:1024px) {
    .blog-column .uabb-blog-posts-shadow {
        height: 300px !important;
    }
}

@media(min-width:992px) {
    .fl-page-nav .navbar-nav,
    .fl-page-nav .navbar-nav a {
        font-size: 14px;
        text-transform: uppercase
    }
    .ginput_container input,
    .ginput_container select {
        height: 60px!important
    }
    .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a,
    .fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a {
        padding: 10px 12px;
        color: #323232
    }
    .gform_footer input {
        font-size: 20px!important;
    }
    .page-id-1079336 .gform_footer input[type="submit"] {
        font-size: 16px!important;
    }
    .page-id-1079336 #breadcrumbs{
        background: #ff8300;
    }
    .page-id-1079336 #breadcrumbs a{
        color: #fff;
    }
    .fl-page-header-fixed .fl-page-fixed-nav-wrap {
        padding-right: 10px
    }
    .navbar .nav .menu-item-has-children>a:after {
        content: "\f078";
        font-family: FontAwesome;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        vertical-align: middle;
        margin: -2px 0 0 5px;
        font-weight: 400;
        font-size: 85%
    }
    footer .fl-row-content-wrap .fl-col-group:first-child {
        display: flex;
        justify-content: center;
        align-items: center
    }
}

@media(max-width:991px) {
    #breadcrumbs {
        margin-top: 20px
    }
}

@media(min-width:768px) {
    .fl-page-nav-right .fl-page-header-logo {
        padding-left: 0;
        padding-right: 0
    }
}

@media(max-width:768px) {
    .fl-builder-content div.max-width-issue {
        max-width: 400px!important;
        margin: 0 auto!important;
        float: none
    }
	.fl-slide-1 .fl-slide-mobile-photo-img{
		    padding: 20px 0 !important;
	}
    /* .fl-content-slider .fl-slide-0 .fl-slide-bg-photo,
    .fl-content-slider .fl-slide-0 .fl-slide-foreground {
        position: static !important
    }
    .fl-content-slider .fl-slide-0 .fl-slide-foreground .fl-slide-photo-wrap {
        display: none !important
    } */
    .fl-slide-mobile-photo {
        width: 100%;
    }
    #breadcrumbs {
        margin-top: 0
    }
    .home-slider .fl-slide-1 .fl-slide-foreground .fl-bg-video video {
        height: 600px!important
    }
    .fl-slide-content-wrap .fl-row-content-wrap .fl-row-fixed-width .fl-col-content {
        max-width: 80%;
        margin: 0 auto
    }
    button#responsive-menu-button {
        top: 40px!important
    }
    .fl-page-header-fixed .fl-page-phone-no-wrap {
        text-align: left
    }
    .main-header {
        max-height: 126px
    }
    .fl-page-header-fixed a .fl-logo-img,
    .fl-page-nav-right.fl-page-header-fixed .fl-logo-img {
        max-height: 100px!important
    }
    header#masthead {
        visibility: hidden;
        height: 136px
    }
    .fl-builder-content .fl-module-content-slider .fl-slide.fl-slide-0 .fl-slide-content,
    .fl-builder-content .fl-module-content-slider .fl-slide.fl-slide-1 .fl-slide-content {
        padding: 0!important
    }
    .product-box h1 {
        font-size: 30px!important
    }
    /* .fl-content-slider .fl-slide-0 .fl-slide-foreground .fl-slide-photo-wrap img {
        max-height: 250px
    } */
    .fl-slide-0 .fl-slide-bg-photo,
    .fl-slide-0 .fl-slide-foreground {
        position: absolute !important;
    }
    .fl-slide-0 .fl-slide-foreground .fl-slide-photo-wrap {
        display: block !important;
    }
}

@media(max-width:767px) {
    .fl-page-header-fixed .fl-page-btn-wrap {
        display: none!important
    }
    .fl-page-header-fixed .fl-page-logo-wrap {
        width: 46%
    }
    .fl-page-header-fixed .fl-page-phone-no-wrap {
        width: 50%
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo {
        text-align: left;
        padding-bottom: 0
    }
    .fl-page-header-fixed a *,
    .fl-page-nav-right.fl-page-header-fixed a * {
        font-weight: 700
    }
    header#masthead .mobile-hide-menu.page-head-bar {
        display: block!important;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 101
    }
    .fl-page-nav-right .fl-page-header-wrap {
        padding-top: 60px
    }
    header#masthead {
        visibility: visible
    }
    .fl-module-uabb-marketing-button .uabb-marketing-button-wrap .uabb-marketing-btn__link,
    .fl-module-uabb-marketing-button .uabb-marketing-button-wrap .uabb-marketing-btn__link:visited {
        padding-top: 5px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-left: 20px
    }
    button#responsive-menu-button {
        width: 45px!important;
        height: 45px!important;
        top: 90px!important
    }
    header#masthead {
        height: 176px
    }
    .page-head-bar .fl-row-fixed-width .fl-col-group .fl-col-small:first-child,
    .page-head-bar .fl-row-fixed-width .fl-col-group .fl-col-small:nth-child(2) {
        display: none
    }
    .fl-page-header-fixed .uabb-marketing-button-wrap.uabb-marketing-button-center {
        text-align: center!important;
        margin-right: 0!important
    }
}

@media(min-width:600px) and (max-width:768px) {
    .commercial-flooring-sec .fl-col-content.fl-node-content {
        max-width: 50%!important;
        margin: 0 auto
    }
}

@media(max-width:500px) {
    .fl-bg-video {
        display: none
    }
    .uabb-photo-gallery-item {
        width: 100%!important
    }
    .fl-module-uabb-heading .uabb-module-content.uabb-heading-wrapper.uabb-heading-align-center .uabb-heading~.uabb-separator-parent~.uabb-text-editor {
        font-size: 38px
    }
    .location-page .uabb-subheading {
        display: block
    }
    .location-page .uabb-subheading .storename .phone a {
        font-size: 14px
    }
    .product-row .fl-post-grid-image>a .exlusive-badge {
        left: 80px
    }
    .fl-page-nav-right .fl-page-header-wrap {
        padding-right: 110px
    }
    footer .fl-builder-content .fl-col-small {
        width: 100%!important
    }
}

@media(max-width:420px) {
    .fl-page-header-fixed .fl-page-phone-no-wrap {
        width: 55%
    }
    .fl-module-uabb-marketing-button .uabb-marketing-button-wrap .uabb-marketing-btn__link .uabb-marketing-title {
        font-size: 11px
    }
    .fl-module-uabb-marketing-button .uabb-marketing-button-wrap .uabb-marketing-btn__link .uabb-marketing-subheading {
        font-size: 13px
    }
}

@media(max-width:400px) {
    .fl-page-nav-right .fl-page-header-wrap {
        padding-right: 70px
    }
    .fl-page-header-fixed .fl-page-logo-wrap {
        width: 43%
    }
    button#responsive-menu-button {
        width: 40px!important;
        height: 40px!important
    }
}

@media(max-width:375px) {
    .fl-page-phone-no-wrap .storename a span {
        font-size: 13px
    }
    #breadcrumbs {
        margin-top: -2px
    }
}

@media(max-width:360px) {
    .fl-page-nav-right .fl-page-header-wrap {
        padding-right: 60px
    }
    .fl-page-header-fixed .fl-page-logo-wrap {
        width: 40%
    }
    #breadcrumbs {
        margin-top: -13px
    }
}

@media(max-width:350px) {
    .fl-page-nav-right .fl-page-phone-no-wrap {
        padding-right: 0
    }
}

@media(max-width:330px) {
    .fl-page-phone-no-wrap .storename a span {
        font-size: 12px
    }
    button#responsive-menu-button {
        top: 25px!important
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo {
        padding-bottom: 0
    }
    #breadcrumbs {
        margin-top: -50px
    }
    header#masthead {
        height: 200px
    }
    button#responsive-menu-button {
        top: 85px!important
    }
}

@media (max-width:320px) {
    header#masthead {
        height: 195px
    }
}

@media(max-width:319px) {
    .fl-page-nav-right .fl-page-phone-no-wrap {
        display: none
    }
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #f46600
}

.fl-page-header-wrap .fl-page-header-row div.searchModule1 {
    display: none;
    position: absolute;
    right: 0;
    left: 13%;
    z-index: 9;
    background: #f46600;
    top: 92px
}

div.searchModule1 .fl-widget {
    background: #f46600;
    padding: 40px 20px;
    margin: 0
}

.fl-page-header-fixed div.searchModule1 .fl-widget input,
.fl-page-nav-right.fl-page-header-fixed div.searchModule1 .fl-widget input {
    color: #000
}

.gform_wrapper div.validation_error,
.uabb-gf-style .gform_wrapper .validation_message {
    color: #fff!important
}

.header-phone-number .fl-html .phone.retailer span {
    font-size: 14px;
    color: white;
}


/* .f-0 .fl-module-content {
    display: none!important
} */


/* .fl-content-slider .fl-slide-0 div.fl-slide-bg-photo{
    position: static !important;
} */

.ginput_container.ginput_container_checkbox .gfield_checkbox li {
    display: flex;
    align-items: flex-start;
}

.ginput_container.ginput_container_checkbox .gfield_checkbox li input {
    height: auto !important;
    margin-right: 5px;
    margin-top: 3px !important;
}

ul#menu-carpet {
    text-align: center;
}